/* ─────────────────────────────────────────────────────────────────
    Layout
───────────────────────────────────────────────────────────────── */
.app {
	width: 100%;
	height: 100%;
	background: var(--sf-panel);
	overflow: hidden;

	display: flex;
}

.chat-layout {
	flex: 1;

	overflow: hidden;

	display: grid;
	grid-template-columns: 2fr 5fr 2fr;
}
