/* ─────────────────────────────────────────────────────────────────
    BUTTON
───────────────────────────────────────────────────────────────── */
.btn {
	border-radius: var(--r-md);
	font-family: var(--font);
	font-weight: 600;
	border: none;
	cursor: pointer;
	white-space: nowrap;
	line-height: 1;

	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: calc(var(--s3) / 2);

	transition:
		background var(--ease-fast),
		box-shadow var(--ease-fast),
		transform var(--ease-snap);

	&:hover {
		transform: scale(1.02);
	}

	&:disabled {
		opacity: 0.4;
		cursor: not-allowed;
		transform: none;
	}
}

.btn--xs {
	padding: var(--s1) calc(var(--s3) / 2);
	font-size: var(--tx-xs);
	border-radius: var(--r-sm);
}
.btn--sm {
	padding: calc(var(--s3) / 2) calc(var(--s6) / 2);
	font-size: var(--tx-sm);
}
.btn--md {
	padding: var(--s4) calc(var(--s7) / 2);
	font-size: var(--tx-base);
}
.btn--lg {
	padding: calc(var(--s6) / 2) var(--s6);
	font-size: var(--tx-md);
}

.icon-btn {
	flex-shrink: 0;

	width: var(--s7);
	height: var(--s7);
	border-radius: var(--r-pill);
	color: var(--n-400);
	background: transparent;

	display: flex;
	align-items: center;
	justify-content: center;

	transition:
		background var(--ease-snap),
		color var(--ease-snap);

	&:hover {
		background: var(--n-100);
		color: var(--n-600);
	}
}
.icon-btn--sm {
	width: var(--s6);
	height: var(--s6);
}
.icon-btn--lg {
	width: var(--s8);
	height: var(--s8);
}
