/* ─────────────────────────────────────────────────────────────────
    SIDEBAR
───────────────────────────────────────────────────────────────── */
.sidebar {
	background: var(--sf-panel);
	border-right: 1px solid var(--bd-subtle);
	overflow: hidden;

	display: flex;
	flex-direction: column;
	gap: var(--s2);
}

.sidebar__header {
	flex-shrink: 0;

	padding: var(--s3) var(--s4);

	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: var(--s2);
}

.sidebar__title {
	font-size: var(--tx-lg);
	font-weight: 700;
	color: var(--n-800);
	letter-spacing: -0.4px;
}

.own-profile {
	flex-shrink: 0;

	padding: var(--s2) var(--s4);

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--s2);
}

.own-profile__name {
	font-size: var(--tx-md);
	font-weight: 700;
	color: var(--n-800);
	letter-spacing: -0.2px;
}

.conv-section {
	flex: 1;

	overflow: hidden;

	display: flex;
	flex-direction: column;
	gap: var(--s2);
}

.conv-section__header {
	flex-shrink: 0;

	padding: 0 var(--s3);

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.conv-section__actions {
	display: flex;
	gap: var(--s1);
}

.conv-section__label {
	color: var(--n-400);
	font-size: var(--tx-xs);
	font-weight: 600;
	letter-spacing: 0.7px;
	text-transform: uppercase;
}
